<!DOCTYPE html>
<html>
    <head>

        <title>Monty Anderson</title>
        <meta charset="utf-8" />
        <link href="/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    </head>
    <body>

        <nav class="blue">
            <div class="nav-wrappe container">
                <a href="/" class="brand-logo">Monty Anderson</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{#if session.user}}
                    <li><strong>{{session.user.login}}</strong></li>
                    {{#if admin}}<li><a href="/admin">Admin</a></li>{{/if}}
                    <li><a href="/logout">Logout</a></li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                {{#if projects}}
                <div class="col s2">
                    <p class="flow-text">Projects</p>
                    {{#projects}}
                        <div class="chip project">
                            <a href="/project/{{_id}}">{{title}}</a>
                        </div>
                    {{/projects}}
                </div>
                {{/if}}

                <div class="col s10">
                    {{{view}}}
                </div>
            </div>
        </div>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

    </body>
</html>
