<p class="flow-text">Hello, I'm Monty Anderson! I'm a teenage developer interested Maths, server-side technologies, and crypto. I enjoy working on software that facilitates real-world freedom and liberty- particularly that which renders bulk collection of data by an adversary useless. I've attended <a href="http://www.yrs.io/">Young Rewired State</a> from 2011 until 2015 and continue to work on projects for the greater good.</p>

{{#if repos}}
<div class="row center-align">
{{#repos}}
<div class="col s12 l4">
     <div class="card darken-1">
            <div class="orange card-content white-text">
                <span class="card-title">{{name}}</span>
                <p>{{description}} <br />
                <span class="red-text">{{language}}</span></p>
            </div>

            <div class="red card-action">
                <a href="{{{html_url}}}">Github</a>
                {{#homepage}}
                <a href="{{{homepage}}}">Homepage</a>
                {{/homepage}}
            </div>
    </div>
</div>
{{/repos}}
</div>
{{/if}}
